*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(135deg, white, #fff5f5); }

img {
  display: block; }

.logo-container {
  padding: 2rem 2rem; }
  .logo-container img {
    max-width: 100px; }

.hero-image img {
  width: 100%; }

.content {
  text-align: center;
  padding: 3rem 2rem; }
  .content-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.25rem;
    color: #413a3a;
    letter-spacing: 10px;
    margin-left: auto;
    margin-right: auto; }
  .content .title-highlight {
    color: #ce9797;
    font-weight: 300; }
  .content-text {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.4;
    font-size: 0.85rem;
    color: #ce9797; }

#email {
  width: 100%;
  padding: 0.85rem 0.75rem;
  padding-right: 80px;
  background-color: transparent;
  outline: none;
  border: 2px solid rgba(65, 58, 58, 0.4);
  color: #413a3a;
  border-radius: 50px;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  font-family: inherit; }
  #email::placeholder {
    color: rgba(65, 58, 58, 0.4); }
  #email:focus {
    border-color: #f96262; }

.form-group {
  position: relative; }

.error-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 75px;
  width: 20px;
  height: 20px;
  display: none; }

.submit-btn {
  border: none;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  padding: 0.7rem 1.5rem;
  height: 44px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0; }

.error-message {
  margin-top: 1rem;
  color: #f96262;
  font-size: 0.875rem;
  display: none; }

@media (min-height: 813px) and (orientation: portrait) {
  .content-container {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto; }
  .content-title {
    font-size: 3rem; }
  .content-text {
    font-size: 1.15rem; } }
@media (min-height: 998px) and (orientation: portrait) {
  .content-title {
    font-size: 3.5rem; }
  .content-text {
    font-size: 1.25rem; } }
@media (min-height: 1200px) and (orientation: portrait) {
  .content-container {
    max-width: 37rem; }
  .content-title {
    font-size: 4rem; }
  .content-text {
    font-size: 1.75rem; } }
@media (min-width: 568px) and (orientation: landscape) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 5rem auto;
    overflow: hidden; }

  .logo-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0rem 2rem;
    display: flex;
    align-items: center; }

  .hero-image {
    grid-column: 2 / 3;
    grid-row: 1 / 3; }
    .hero-image img {
      min-height: 100vh;
      object-fit: cover;
      object-position: top center; }

  .content {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 1rem 2rem; } }
@media (min-width: 968px) and (orientation: landscape) {
  main {
    grid-template-columns: 55% 45%;
    grid-template-rows: 8rem auto; }

  .logo-container {
    padding: 0;
    justify-content: center; }
    .logo-container .logo {
      max-width: 400px;
      flex: 1; }
    .logo-container img {
      width: 150px;
      max-width: 100%; }

  .hero-image img {
    height: 100vh; }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 0;
    padding-top: 4rem; }
    .content-container {
      max-width: 400px; }
    .content-title {
      font-size: 4rem;
      max-width: 100%; }
    .content-text {
      font-size: 1rem; } }

/*# sourceMappingURL=styles.css.map */
